<h1>List Reminders</h1>

<%= link_to 'New Reminder', new_user_reminder_path %><br>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Time</th>
    <th>Notes</th>
  </tr>
 
  <% @reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.title %></td>
      <td><%= reminder.date %></td>
      <td><%= reminder.time %></td>
      <td><%= reminder.notes %></td>
      <td><%= link_to 'Show', user_reminder_path(@user, reminder) %></td>
      <td><%= link_to 'Edit', edit_user_reminder_path(@user, reminder) %></td>
      <td>
          <%= link_to 'Destroy',
             user_reminder_path(@user, reminder),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this reminder?' } 
            %>
      </td>
    </tr>
  <% end %>
</table>