<h1>New Reminder</h1
<%= form_for :reminder do |f| %>
  <p>
    <%= f.label :title, 'Title your reminder' %>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :date, 'Enter a date' %>
    <%= f.date_field :date %>
  </p>
  
   <p>
    <%= f.label :time, 'Set a time' %>
    <%= f.time_field :time %>
  </p>
 
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>
 
  <p id="button">
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', reminders_path%>