<p>
    <strong> Title: </strong>
    <%= @reminder.title %>
</p>
<p>
    <strong> Date: </strong>
    <%= @reminder.date.strftime("%b" + ". " + "%d %Y") %>
</p>
<p>
    <strong> Time: </strong>
    <%= @reminder.time.strftime("%l:%M %P") %>
</p>
<p>
    <strong> Notes: </strong>
    <%= @reminder.notes %>
</p>

<%= link_to 'List of Reminders', user_reminders_path(@user)%>
