<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
<% if @errors %>
	<ul>
	<% @errors.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Phone: <%= f.text_field :phone %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
 
<% end %>