<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to "Delete User", user_path(current_user), data: { confirm: "Are you sure you want to delete all your data?" }, method: :delete %> <br><br>
<%= link_to 'Back', '/welcome/index' , id: 'back3' %>
